<div fxLayout="row">
  <div fxFlex>
    <mat-list dense>
      @for (error of errors; track error) {
        <mat-list-item>
          <div fxLayout="row" 
               fxLayoutAlign="start start"
          >
            <span>{{ error.property | transloco }}</span>
            
            <span>&nbsp;-&nbsp;</span>
            
            <span>{{ error.message | transloco }}</span>
            
            @if (!production) {
              <code matTooltip="{{ 'component.shared.error-message.not-used-production-environment' | transloco }}">
                &nbsp;({{ error.debug }})
              </code>
            }
          </div>
        </mat-list-item>
      }
    </mat-list>
  </div>

  <div fxLayout="column" 
       fxLayoutAlign="end end"
  >
    <button mat-button 
            type="button" 
            color="warn" 
            (click)="dismiss()"
    >
      {{ 'snackbar.close-button' | transloco }}
    </button>
  </div>
</div>
