<div class="header-container">
  <mat-toolbar class="mat-elevation-z5"
               color="primary"
               fxLayout="row"
               fxLayoutAlign="space-between center"
  >
    <a mat-button
      routerLink="/"
    >
      {{ 'component.header.title' | transloco }}
    </a>

    <div fxLayout="row" 
         fxLayoutAlign="start center"
    >
      @if (loading$ | async) {
        <div>
          <mat-spinner diameter="24" color="accent"></mat-spinner>
        </div>
      }

      @if (profile) {
        <small>
          {{ profile.username }}
        </small>
      }

      <button mat-icon-button 
              fxFlexOffset="16px" 
              #userMenu="matMenuTrigger" 
              [matMenuTriggerFor]="profile ? matMenuUser : matMenuAnon"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-menu #matMenuAnon="matMenu">
    <a class="padding-right"
      mat-menu-item
      routerLink="/auth/login"
      >
      <mat-icon>fingerprint</mat-icon>

      <span>{{ 'component.header.menu.login' | transloco }}</span>
    </a>

    <button mat-menu-item
      (click)="changeTheme()"
      >
      <mat-icon class="rotate-45">brightness_2</mat-icon>

      <span>{{ 'component.header.menu.theme' | transloco }}</span>
    </button>

    <button mat-menu-item
      [matMenuTriggerFor]="languageMenu"
      >
      <mat-icon>language</mat-icon>

      <span>{{ 'component.header.menu.language.title' | transloco }}</span>
    </button>
  </mat-menu>

  <mat-menu class="header-menu"
    #matMenuUser="matMenu"
    >
    <a class="padding-right"
      mat-menu-item
      routerLink="/profile"
      >
      <mat-icon>person</mat-icon>

      <span>{{ 'component.header.menu.profile' | transloco }}</span>
    </a>

    <button mat-menu-item
      (click)="changeTheme()"
      >
      <mat-icon class="rotate-45">brightness_2</mat-icon>

      <span>{{ 'component.header.menu.theme' | transloco }}</span>
    </button>

    <button mat-menu-item
      [matMenuTriggerFor]="languageMenu"
      >
      <mat-icon>language</mat-icon>

      <span>{{ 'component.header.menu.language.title' | transloco }}</span>
    </button>

    <mat-divider class="margin-vertical-quarter"></mat-divider>

    <button class="padding-right"
      mat-menu-item
      (click)="logout()"
      >
      <mat-icon>exit_to_app</mat-icon>

      <span>{{ 'component.header.menu.logout' | transloco }}</span>
    </button>
  </mat-menu>

  <mat-menu class="header-menu"
    #languageMenu="matMenu"
    >
    @for (language of languages; track language) {
      <button mat-menu-item
        [class.text-bold]="currentLanguage === language"
        (click)="changeLanguage(language)"
        >
        {{ 'component.header.menu.language.' + language | transloco }}
      </button>
    }
  </mat-menu>
</div>
