<div fxFill
     fxLayout="row"
     fxLayoutAlign="center center"
>
  <div class="login-container mat-elevation-z8 margin-vertical">
    <form autocomplete="off"
          fxLayout="column"
          [formGroup]="loginForm"
          (ngSubmit)="submit()"
          [class.ghost]="loading"
    >
      <h1 class="mat-title">{{ 'component.auth.login.title' | translate }}</h1>

      <mat-form-field>
        <input type="text" placeholder="{{ 'component.auth.login.username' | translate }}"
               formControlName="username"
               matInput
               [appAutoFocus]="true"
               [readonly]="loading"
        />

        <mat-error>{{ 'component.auth.login.error-username' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlexOffset="8px">
        <input type="password" placeholder="{{ 'component.auth.login.password' | translate }}"
               formControlName="password"
               matInput
               [readonly]="loading"
        />

        <mat-error>{{ 'component.auth.login.error-password' | translate }}</mat-error>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              fxFlexOffset="16px"
              [disabled]="loginForm.invalid || loading"
      >{{ 'component.auth.login.submit' | translate }}</button>
    </form>
  </div>
</div>
