<div fxFill
     fxLayout="row"
     fxLayoutAlign="center center"
>
  <div class="login-container mat-elevation-z8">
    <form autocomplete="off"
          fxLayout="column"
          [formGroup]="loginForm"
          (ngSubmit)="submit()"
          [class.ghost]="loading"
    >
      <h1 class="mat-title">Login</h1>

      <mat-form-field>
        <input type="text" placeholder="Username"
               formControlName="username"
               matInput
               [appAutoFocus]="true"
               [readonly]="loading"
        />

        <mat-error>This field is required and must contain at least three (3) characters.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlexOffset="8px">
        <input type="password" placeholder="Password"
               formControlName="password"
               matInput
               [readonly]="loading"
        />

        <mat-error>This field is required.</mat-error>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              fxFlexOffset="16px"
              [disabled]="loginForm.invalid || loading"
      >Login</button>
    </form>
  </div>
</div>
