<div fxFill
     fxLayout="row"
     fxLayoutAlign="center center"
>
  <div class="login-container mat-elevation-z8 margin-vertical">
    <form autocomplete="off"
          fxLayout="column"
          #loginFormElement="ngForm"
          [formGroup]="loginForm"
          (ngSubmit)="submit()"
          [class.ghost]="loading"
    >
      <h1 class="mat-headline-6">{{ 'component.auth.login.title' | transloco }}</h1>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'component.auth.login.username' | transloco }}</mat-label>

        <label>
          <input type="text"
                 formControlName="username"
                 matInput
                 [appAutoFocus]="focus"
                 [readonly]="loading"
          />
        </label>

        <mat-error>{{ 'component.auth.login.error-username' | transloco }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill"
                      fxFlexOffset="8px"
      >
        <mat-label>{{ 'component.auth.login.password' | transloco }}</mat-label>

        <label>
          <input type="password"
                 formControlName="password"
                 matInput
                 [readonly]="loading"
          />
        </label>

        <mat-error>{{ 'component.auth.login.error-password' | transloco }}</mat-error>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              fxFlexOffset="16px"
              [disabled]="loginForm.invalid || loading"
      >{{ 'component.auth.login.submit' | transloco }}</button>
    </form>
  </div>
</div>
