<div class="padding-vertical-quarter padding-horizontal">
  <p>
    This is landing page of your application.
  </p>

  <p>
    You're currently using this application in <em>{{ device$ | async }}</em> mode and using viewport: <em>{{ viewport$ | async }}</em>.
  </p>

  <div *ngIf="false">ddd</div>

  <div *appRequiredRole="'ROLE_ROOT'">
    This is only shown to users who has `ROLE_ROOT` role.
  </div>

  <div *appExcludedRole="'ROLE_ROOT'">
    This is only shown to users who has not `ROLE_ROOT` role.
  </div>
</div>
