@import 'src/styles/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
}

app-root {
  display: flex;
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
}
