@use './variables' as vars;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: vars.$font-family;
}

app-root {
  display: flex;
  position: absolute;
  inset: vars.$header-height 0 0 0;
  flex-direction: column;
}
