@import '~src/styles/variables';

@mixin transition($transition...) {
  transition: $transition;
}

@mixin transform($transform...) {
  transform: translateY($transform);
}

@mixin transition-property($property...) {
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  transition-duration: $duration;
}

@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
  transition-delay: $delay;
}

@mixin user-select($type) {
  user-select: $type;
}

@mixin transition-ease-in-out-all() {
  @include transition(all $interval ease-in-out);
}
