// Use eg. http://mcg.mbitson.com/ to create new one for your needs.

// Accent palette
$app-palette-accent: (
  50: #fef6ed,
  100: #fce8d3,
  200: #fbd9b5,
  300: #f9c997,
  400: #f7be81,
  500: #f6b26b,
  600: #f5ab63,
  700: #f3a258,
  800: #f2994e,
  900: #ef8a3c,
  A100: #fff,
  A200: #fff,
  A400: #ffe7d5,
  A700: #ffd8bc,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);

// Grey palette
$app-palette-grey: (
  50: #e6e6e6,
  100: #c1c1c1,
  200: #979797,
  300: #6d6d6d,
  400: #4e4e4e,
  500: #2f2f2f,
  600: #2a2a2a,
  700: #232323,
  800: #1d1d1d,
  900: #121212,
  A100: #ef6b6b,
  A200: #e93d3d,
  A400: #f30000,
  A700: #da0000,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

// Primary palette
$app-palette-primary: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #fff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);

// Warn palette
$app-palette-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #c00,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);
