/**
 * Custom Theming for Angular Material
 *
 * For more information:
 *  - https://material.angular.io/guide/theming
 *  - https://materialtheme.arcsine.dev/
 */

// Application specified styles for theming
@use '~@angular/material' as mat;

@import '~src/styles/variables';

/**
 * Define a custom typography config that overrides the font-family as well as
 * the `headlines` and `body-1` levels.
 */
$custom-typography: mat.define-typography-config(
  $font-family: $font-family,
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(24px, 32px, 400),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(16px, 28px, 400),
  $subheading-1: mat.define-typography-level(15px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input: mat.define-typography-level(inherit, 1.125, 400)
);

// Compute font config
@include mat.core($custom-typography);

// Light Theme Text
$dark-text: #000;
$dark-primary-text: rgba($dark-text, .87);
$dark-accent-text: rgba($dark-primary-text, .54);
$dark-disabled-text: rgba($dark-primary-text, 038);
$dark-dividers: rgba($dark-primary-text, .12);
$dark-focused: rgba($dark-primary-text, .12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, .26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, .26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #fff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, .7);
$light-disabled-text: rgba($light-primary-text, .5);
$light-dividers: rgba($light-primary-text, .12);
$light-focused: rgba($light-primary-text, .12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, .3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, .3),
  slider-off-active: rgba($light-text, .3),
);

// Light background
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, .04);
$dark-bg-alpha-12: rgba(#2c2c2c, .12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark background
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, .04);
$light-bg-alpha-12: rgba(#fafafa, .12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Theme Config
$primary-color: #f33d30;
$primary-lighter-color: #fbc5c1;
$primary-darker-color: #ed271e;

$mat-primary: (
  main:  $primary-color,
  lighter: $primary-lighter-color,
  darker: $primary-darker-color,
  200:  $primary-color, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$accent-color: #f7be81;
$accent-lighter-color: #fdecd9;
$accent-darker-color: #f3a764;

$mat-accent: (
  main: $accent-color,
  lighter: $accent-lighter-color,
  darker: $accent-darker-color,
  200: $accent-color, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);

$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$warn-color: #f00;
$warn-lighter-color: #ffb3b3;
$warn-darker-color: #f00;

$mat-warn: (
  main: $warn-color,
  lighter: $warn-lighter-color,
  darker: $warn-darker-color,
  200: $warn-color, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$light-theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);

$dark-theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);
