@use 'sass:math';

// Base font families
$font-family: Roboto, 'Helvetica Neue', sans-serif;
$font-family-monospace: Monaco, monospace;

// Paddings & Margins
$spacing: 32px;
$spacing-half: math.div($spacing, 2);
$spacing-quarter: math.div($spacing, 4);
$spacing-half-quarter: math.div($spacing-quarter, 2);
$spacing-1-5x: $spacing * 1.5;
$spacing-2x: $spacing * 2;

// Positions
$positions: (top, right, bottom, left);
$orientations: (vertical, horizontal);

// Sizes
$sizes: (
  '': $spacing,
  '-half': $spacing-half,
  '-quarter': $spacing-quarter,
  '-half-quarter': $spacing-half-quarter,
  '-1-5x': $spacing-1-5x,
  '-2x': $spacing-2x,
);

// Opacities
$opacities: (
  '0': '0',
  '7': '.07',
  '17': '.17',
  '27': '.27',
  '37': '.37',
  '47': '.47',
  '57': '.57',
  '67': '.67',
  '77': '.77',
  '87': '.87',
  '97': '.97',
  '100': '1',
);

// Degrees
$degrees: (
  '45': '45deg',
  '90': '90deg',
  '135': '135deg',
  '180': '180deg',
  '225': '225deg',
  '270': '270deg',
  '315': '315deg'
);

// Font-sizes
$font-size-normal: 16px;
$font-size-list: 13px;
$font-size-small: 12px;

// Border radius
$border-radius: math.div($spacing, 4);

// Sizes
$header-height: 64px;

// Animations
$interval: .4s;
$interval-short: math.div($interval, 2);
