$app-palette-grey: (
  50: #e6e6e6,
  100: #c1c1c1,
  200: #979797,
  300: #6d6d6d,
  400: #4e4e4e,
  500: #2f2f2f,
  600: #2a2a2a,
  700: #232323,
  800: #1d1d1d,
  900: #121212,
  A100: #ef6b6b,
  A200: #e93d3d,
  A400: #f30000,
  A700: #da0000,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);
