$app-palette-accent: (
  50: #fef6ed,
  100: #fce8d3,
  200: #fbd9b5,
  300: #f9c997,
  400: #f7be81,
  500: #f6b26b,
  600: #f5ab63,
  700: #f3a258,
  800: #f2994e,
  900: #ef8a3c,
  A100: #fff,
  A200: #fff,
  A400: #ffe7d5,
  A700: #ffd8bc,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);
