<div class="footer-container"
     #footerContainer
>
  <mat-toolbar class="mat-elevation-z10"
               fxLayout="row"
               fxLayoutAlign="space-between center"
  >
    <div></div>

    <div fxLayout="row">
      <a href="https://www.github.com/tarlepp/angular-frontend/issues" target="_blank"
         mat-button
      >
        Issues
      </a>

      <mat-divider class="margin-quarter"
                   [vertical]="true"
      ></mat-divider>

      <a href="https://www.github.com/tarlepp/angular-frontend" target="_blank"
         mat-button
      >
        GitHub
      </a>

      <mat-divider class="margin-quarter"
                   [vertical]="true"
      ></mat-divider>

      <small fxLayout="row"
             fxLayoutAlign="start center"
      >
        <span matTooltip="{{ 'component.footer.version.frontend' | transloco }}">
          {{ versionFrontend$ | async }}
        </span>

        <span class="margin-horizontal-quarter">/</span>

        <span matTooltip="{{ 'component.footer.version.backend' | transloco }}">
          {{ versionBackend$ | async }}
        </span>
      </small>
    </div>
  </mat-toolbar>
</div>
