.footer-container {
  .mat-toolbar-single-row {
    height: 32px;
  }

  .mat-mdc-button {
    border-radius: 0;
    font-size: 12px;
    line-height: 32px;
  }

  small {
    font-size: 10px;
    font-weight: 400;
    cursor: default;
  }
}
