<div class="footer-container">
  <mat-toolbar class="mat-elevation-z10" fxLayout="row"
               fxLayoutAlign="space-between center"
  >
    <span></span>

    <span fxLayout="row">
      <a href="https://www.github.com/tarlepp/angular-frontend" target="_blank"
        mat-button
      >GitHub</a>

      <mat-divider fxFlexOffset="8px"
                   [vertical]="true"
      ></mat-divider>

      <a href="https://www.github.com/tarlepp/angular-frontend/issues" target="_blank"
         fxFlexOffset="8px"
         mat-button
      >Issues</a>
    </span>
  </mat-toolbar>
</div>
