<div fxFill
     fxLayout="row"
     fxLayoutAlign="center center"
>
  <div class="container text-center unselectable margin-vertical margin-horizontal-half">
    <h1 class="mat-headline-2">{{ 'component.oops.title' | transloco }}</h1>

    <h2 class="mat-headline-4 margin-negative-top-1-5x">¯\_(ツ)_/¯</h2>

    <h3 class="mat-headline-5 margin-negative-top-1-5x">{{ 'component.oops.subtitle' | transloco }}</h3>

    <a href="/" class="no-padding"
       disableRipple
       mat-button
       color="primary"
    >
      {{ 'component.oops.link' | transloco }}
    </a>
  </div>
</div>
