@use '~@angular/material' as mat;

// Import application palettes with Angular Material theming
@import '~src/styles/theme';

// Plus imports for other common styles that we need
@import '~src/styles/variables';
@import '~src/styles/animations';
@import '~src/styles/base';
@import '~src/styles/layout';
@import '~src/styles/mixins';

body {
  /* stylelint-disable */
  --primary-color: $primary-color;
  --primary-lighter-color: $primary-lighter-color;
  --primary-darker-color: $primary-darker-color;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
  --accent-color: $accent-color;
  --accent-lighter-color: $accent-lighter-color;
  --accent-darker-color: $accent-darker-color;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
  --warn-color: $warn-color;
  --warn-lighter-color: $warn-lighter-color;
  --warn-darker-color: $warn-darker-color;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
  /* stylelint-enable */
}

// Include the light theme styles (color and default density)
.light-theme {
  @include mat.all-component-themes($light-theme);

  /**
   * You can use these `--theme-*` in component specified SCSS files just by
   * using following syntax;
   *
   *  .some-css-class {
   *    color: var(--theme-text-color);
   *  }
   */
  /* stylelint-disable */
  --theme-text-color: #{$dark-primary-text};
  /* stylelint-enable */
}

// Include the dark theme styles (color and default density)
.dark-theme {
  //@include mat.all-component-themes($dark-theme);
  @include mat.all-component-themes($dark-theme);

  /**
  * You can use these `--theme-*` in component specified SCSS files just by
  * using following syntax;
  *
  *  .some-css-class {
  *    color: var(--theme-text-color);
  *  }
  */
  /* stylelint-disable */
  --theme-text-color: #{$light-primary-text};
  /* stylelint-enable */
}
