# GitHub Actions docs
# https://help.github.com/en/articles/about-github-actions
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-typescript:
    name: Lint application code
    runs-on: ubuntu-latest

    steps:
      - name: Make checkout
        uses: actions/checkout@v1

      - name: Use Node.js 13.10.1
        uses: actions/setup-node@v1
        with:
          node-version: 13.10.1

      - name: Install dependencies
        run: yarn install

      - name: Run `yarn lint:ts`
        run: yarn lint:ts

  lint-scss:
    name: Lint application SCSS files
    runs-on: ubuntu-latest

    steps:
      - name: Make checkout
        uses: actions/checkout@v1

      - name: Use Node.js 13.10.1
        uses: actions/setup-node@v1
        with:
          node-version: 13.10.1

      - name: Install dependencies
        run: yarn install

      - name: Run `yarn lint:scss`
        run: yarn lint:scss

  lint-documentation:
    name: Lint documentation files
    runs-on: ubuntu-latest

    steps:
      - name: Make checkout
        uses: actions/checkout@v1

      - name: Lint `README.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './README.md'

      - name: Lint `doc/COMMANDS.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/COMMANDS.md'

      - name: Lint `doc/CONCEPTS_AND_FEATURES.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/CONCEPTS_AND_FEATURES.md'

      - name: Lint `doc/README.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/README.md'

      - name: Lint `doc/SPEED_UP_DOCKER_COMPOSE.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/SPEED_UP_DOCKER_COMPOSE.md'

      - name: Lint `doc/TOOLS.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/TOOLS.md'

      - name: Lint `doc/TRANSLATIONS.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/TRANSLATIONS.md'

      - name: Lint `doc/USAGE_CHECKLIST.md`
        uses: avto-dev/markdown-lint@v1
        with:
          config: './markdown-lint.yml'
          args: './doc/USAGE_CHECKLIST.md'

  build:
    name: Build application Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Make checkout
        uses: actions/checkout@v1

      - name: Set tag var
        id: vars
        run: echo ::set-output name=docker_tag::$(echo ${GITHUB_REF} | sed -r 's/[\/()\.]+/_/g')-${GITHUB_SHA}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag angular-ngrx-frontend:${{ steps.vars.outputs.docker_tag }}
